<section class="flex-row">
    <h1>404 :(</h1>
    <h2>Oops, Something went wrong!</h2>

    <h4>The page you are looking for doesn't exist!</h4>

    <a href="/" class="added-hotel log-out">Back to BookingUni</a>
</section>